html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

button {
    border: 1px solid #2A51F6;
    background-color: #4c90f6;
    border-radius: 3px;
    color: white;
    padding: 6px 10px;
}

button + button {
    margin-left: 10px;
}

.sheet-music {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: auto;
}

/*.bar {*/
/*display: grid;*/
/*grid-template-columns: repeat(16, 1fr);*/
/*grid-template-rows: repeat(4, 1fr);*/
/*width: auto;*/
/*height: 6rem;*/
/*border-right: 1px solid black;*/
/*margin-top: 2rem;*/
/*margin-bottom: 2rem;*/
/*}*/

.bar {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.bar:first-child::before {
    left: 0;
}

.bar:last-child::before {
    right: 0;
}

.bar::before,
.bar::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    border-right: 1px solid black;
}

@keyframes cursor {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 100%;
    }
}

.bar-cursor {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    border-right: 1px solid #4c90f6;
    margin-left: 0;
    animation-name: cursor;
    animation-timing-function: linear;
}

.row {
    position: relative;
    height: 8px;
    margin-top: -4px; /** half height **/
}

.row--line::before {
    content: '';
    display: block;
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    top: 50%;
}

.row--line:first-child::before {
    border-top: 0;
}

.beat {
    width: 10px;
    height: 28px;
    position: absolute;
    display: block;
}

.beat--hi-hat {
    background: url("/images/hi-hat-quarter.svg") left bottom;
    background-size: 100% auto;
    transform: translateY(-20px);
}

.beat--snare {
    background: url("/images/quarter-note-up.svg") left bottom;
    background-size: 100% auto;
    transform: translateY(-20px);
}

.beat--kick {
    background: url("/images/quarter-note-down.svg") left bottom;
    background-size: 100% auto;
}

/*.bar__span {*/
/*height: 1.5em; !* (bar height / 4) rows *!*/
/*}*/

/*.bar__span--quarter {*/
/*grid-column: span 4; !* quarter of 16 cols - better with SASS *!*/
/*}*/

/*.note {*/
/*background-position: left bottom;*/
/*background-repeat: no-repeat;*/
/*background-size: 100% auto;*/
/*display: block;*/
/*height: 4.5em;*/
/*}*/

/*.note--quarter {*/
/*width: 25%;*/
/*}*/

